{% extends '../base.html' %}
{% load static %}

{% block title %}FAQ{% endblock title %}

 <!-- LOAD HEADER HERE -->

 {% block header %}

 {% include '../includes/header.html' %}

 {% endblock header %}
 
{% block content %}


 <main>
    
    <section class="section-header bg-primary pb-7 pb-lg-10 text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <h1 class="mb-3">Advice and answers from our team</h1>
                    <p class="lead px-lg-5 mb-5">Get account assistance, technical support, or help with any other issues.</p>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-md bg-white">
        <div class="container">
            <div class="row">
                <div class="col text-center"><h2 class="h4 mb-4">Frequently Asked Questions</h2></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4 mb-3">
                    <a href="./support-topic.html" class="card border-light animate-up-3 shadow-soft p-0 p-lg-4">
                        <div class="card-body">
                            <h5 class="mb-4">What is veterinary telemedicine?</h5>
                            <p class="text-gray mb-4">
                                Veterinary telemedicine is the use of technology to provide veterinary care remotely. It allows pet and livestock owners to access expert care for their furry companions from the
                                comfort of their own home.</p>
                            
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4 mb-3">
                    <a href="./support-topic.html" class="card border-light animate-up-3 shadow-soft p-0 p-lg-4">
                        <div class="card-body">
                            <h5 class="mb-4">What services does GetVet offer?</h5>
                            <p class="text-gray mb-4">
                                GetVet offers a range of services, including 24/7 chat and video call consultations, home consultations, a diagnostic lab directory, and a vaccination tracker. We also have a blog
                                where we provide educational articles.</p>
                            
                        </div>
                    </a>
                </div>
                <div class="col col-lg-4 mb-3">
                    <a href="./support-topic.html" class="card border-light animate-up-3 shadow-soft p-0 p-lg-4">
                        <div class="card-body">
                            <h5 class="mb-4">Who are the veterinarians that provide the consultations?</h5>
                            <p class="text-gray mb-4">
                                Our team of veterinarians are experienced and qualified to provide expert advice and
                                guidance for your pet's or livestock's health concerns. They are available for you 24/7.
                            </p>
                            
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4 mb-3">
                    <a href="./support-topic.html" class="card border-light animate-up-3 shadow-soft p-0 p-lg-4">
                        <div class="card-body">
                            <h5 class="mb-4">Can I get a prescription for medication through GetVet?</h5>
                            <p class="text-gray mb-4">
                                Yes, our veterinarians can provide prescriptions for medication through a telemedicine consultation. However, it's important to note that some medications may require an inperson examination before a prescription can be written.</p>
                            
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4 mb-3">
                    <a href="./support-topic.html" class="card border-light animate-up-3 shadow-soft p-0 p-lg-4">
                        <div class="card-body">
                            <h5 class="mb-4">What if I need to see a veterinarian in person?</h5>
                            <p class="text-gray mb-4">
                                If our veterinarians determine that an in-person examination is necessary, they will refer you to opt for our home consultation services to provide you with the best possible care for your furry companions or visit a local veterinarian or veterinary clinic service.
                                </p>
                            
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4 mb-3">
                    <a href="./support-topic.html" class="card border-light animate-up-3 shadow-soft p-0 p-lg-4">
                        <div class="card-body">
                            <h5 class="mb-4">How much does it cost to use GetVet’s services?and how can i pay</h5>
                            <p class="text-gray mb-4">The cost of our services varies depending on the service you choose. You can find more information about pricing on our website. We accept various payments methods, including credit card, Paystack, and bank transfer.
                            </p>
                            
                        </div>
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="col"><h2 class="h4 mt-5 mb-4">Additional Questions</h2></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4 mb-3">
                    <a href="./support-topic.html" class="card border-light animate-up-3 shadow-soft p-0 p-lg-4">
                        <div class="card-body">
                            <h5 class="mb-4">How do I schedule a consultation?</h5>
                            <p class="text-gray mb-4">
                                You can schedule a consultation by visiting our website and booking a chat or video call appointment online.</p>
                            
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4 mb-3">
                    <a href="./support-topic.html" class="card border-light animate-up-3 shadow-soft p-0 p-lg-4">
                        <div class="card-body">
                            <h5 class="mb-4">Can I use GetVet for both my pets and livestock?
                                </h5>
                            <p class="text-gray mb-4">Yes, GetVet’s services are available for both pets and livestock.We also offer free vaccination tracking</p>
                            
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4 mb-3">
                    <a href="./support-topic.html" class="card border-light animate-up-3 shadow-soft p-0 p-lg-4">
                        <div class="card-body">
                            <h5 class="mb-4">Is GetVet available in my area?
                                </h5>
                            <p class="text-gray mb-4">GetVet’s services are available worldwide, as long as you have a stable internet connection.</p>
                            
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-soft pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="text-center">
                        <h3 class="mb-4">
                            Can't find what you are looking for?<br class="d-sm-none"/>
                            Let us know!
                        </h3>
                        <a class="text-primary font-weight-normal h4" href="{% url 'contact' %}">
                            Drop us a line <span class="icon icon-sm icon-primary ml-1"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</main>

{% endblock content %}

{%block footer%}

{% include '../includes/footer.html' %}
{% endblock footer%}